.chatroom {
  background-color: thistle;
  border: 2px solid blueviolet;
  border-bottom: 0;
}
.chatroom .content{
    display: flex;
    flex-direction: column;
    height: calc(100% - 3em);
}
.chatroom .inputs{
    height: 1em;
}
.chatroom .inputs button {
    height: 2.3em;
    padding: 0;
}